@model Proyecto_RadixWeb.Models.Cuarteles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cuarteles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cuar_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuar_nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sectores.sect_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sectores.sect_nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VariedadesFrutas.var_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VariedadesFrutas.var_nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cuar_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
