@model Proyecto_RadixWeb.Models.MultiplesClases


@{
    ViewBag.Title = "Index";
}

<div id="contenido_vista" @*style="margin-top: 10%;margin-left:10%"*@>
    <article class="content responsive-tables-page">
        <div class="title-block">
            <div class="">
            </div>
            <div class="col col-xs-12 col-md-9 col-lg-9">
                <h1 class="title" style="text-align:center"><i class="fas fa-network-wired"></i>   Cuadrillas de la empresa @ViewBag.empresa </h1>
            </div>
            <div class="col col-xs-3 col-md-3 col-lg-3 text-right">
                <a class="btn btn-primary text-white addcuadrilla" data-toggle="modal" data-target="#MiModal"><i class="fas fa-user-plus"></i> Agregar Cuadrilla</a>

            </div>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title-block">

                            </div>
                            <section class="example">
                                <div class="table-flip-scroll">
                                    <table class="table table-striped table-bordered table-hover flip-content">
                                        <thead class=" thead-inverse">
                                            <tr>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Sector
                                                </th>
                                                <th>
                                                    Variedad
                                                </th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">

                                                @foreach (var item in Model.ObjECuarteles)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.cuar_nom)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Sectores.sect_nom)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.VariedadesFrutas.Frutas.frut_nom) @Html.DisplayFor(modelItem => item.VariedadesFrutas.var_nom)
                                                    </td>

                                                    <td align="center">

                                                        <a class="btn btn-outline-secondary" data-toggle="modal" data-target="#modaleditar"><i class="fas fa-edit"></i></a>
                                                    </td>
                                                    <td align="center">
                                                        <a class="btn btn-danger cuarteleliminar" id="@item.cuar_id" name="@item.cuar_nom" href="#" data-toggle="modal" data-target="#MiCuarteleliminar"><i class="fas fa-trash-alt"></i></a>
                                                    </td>
                                                    <th>
                                                        <a href="@Url.Action("Index", "GruposCuarteles", new { cuar_id = item.cuar_id })" class="mt-2"><i class="fas fa-map-marker-alt btn btn-warning" style="margin-left: 25%;"> Grupos</i></a>


                                                    </th>
                                                    @*<td>
                                                            @Html.ActionLink("Edit", "Edit", new { id = item.cuar_id }) |
                                                            @Html.ActionLink("Details", "Details", new { id = item.cuar_id }) |
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.cuar_id })
                                                        </td>*@
                                                </tr>
                                            }


                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>



    </div>



    <!-- Create -->
    <div class="modal fade" id="MiModal" tabindex="-1" role="dialog" aria-labelledby="MiModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            @using (Html.BeginForm("Create", "Cuarteles", new { sect_id = ViewBag.sect_id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Nueva Cuadrilla</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Contenido del centro-->
                    <div class="modal-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Cuadrilla")
                            @Html.EditorFor(model => model.ObjCuarteles.cuar_nom, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.Label("Fruta", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownList("ObjCuarteles_varfrut_id", null, htmlAttributes: new { @class = "form-control", @name = "ObjCuarteles_Var_id" })
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <!--editar-->
    <!-- Modal -->
    <div class="modal fade" id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="modaleditar" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--Eliminar-->
    <div class="modal fade" id="MiCuarteleliminar" tabindex="-1" role="dialog" aria-labelledby="MiCuarteleliminar" aria-hidden="true">
        <div class="modal-dialog" role="document">
            @using (Html.BeginForm("Eliminar", "Cuarteles", new { sect_id = ViewBag.sect_id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title col-sm-11 col-md-11 col-lg-11 col-xl-11">¿Desea Eliminar El Sector <label id="nombrecuartel"></label> ?</h4>
                        <button type="button" class="modal-title close col-sm-1 col-md-1 col-lg-1 col-xl-1" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Contenido del centro-->

                    @Html.Hidden("cuar_id")

                    <div class="modal-footer">
                        @* <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>*@
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            }
        </div>
    </div>



    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#contenido_vista').appendTo('#contenido_general');
        });

        $(".addcuadrilla").on("click", function () {

            $("#ObjCuarteles_varfrut_id").attr("name", "ObjCuarteles.varfrut_id");

        });
        $(".cuarteleliminar").on("click", function () {

            $("#cuar_id").val($(this).attr("id"));
            var nom = $(this).attr("name");
            document.getElementById("nombrecuartel").innerHTML = nom;
            //$("#nombresector").val($(this).attr("name"));
        });
    </script>

