@model Proyecto_RadixWeb.Models.GrupoCuartelesDetalle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GrupoCuartelesDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contratos.Per_Rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contratos.Per_Rut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GruposCuarteles.gc_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GruposCuarteles.gc_nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gcd_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
