@model Proyecto_RadixWeb.Models.MultiplesClases

@{
    ViewBag.Title = "Index";
}



<div id="contenido_vista" @*style="margin-top: 10%;margin-left:10%"*@>
    <article class="content responsive-tables-page">
        <div class="title-block">
            <div class="">
            </div>
            <div class="col col-xs-12 col-md-9 col-lg-9">
                <h1 class="title" style="text-align:center"><i class="fas fa-user-friends"></i>  Lista Trabajadores </h1>
            </div>
            <div class="col col-xs-3 col-md-3 col-lg-3 text-right">
                <a class="btn btn-primary text-white" href="@Url.Action("ListaContratoGrupos","Contratos",new {gc_id=ViewBag.gc_id,subemp_id=ViewBag.subemp_id })"> Agregar Trabajadores </a>

            </div>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title-block">

                            </div>
                            <section class="example">
                                <div class="table-flip-scroll">
                                    <table class="table table-striped table-bordered table-hover flip-content">
                                        <thead class=" thead-inverse">
                                            <tr>
                                                <th>
                                                    R.U.T.
                                                </th>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Apellido
                                                </th>

                                                <th></th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                @foreach (var item in Model.ObjEGruposCuartelesDetalle)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.contratos.personas.Per_Rut)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.contratos.personas.Per_Nom)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.contratos.personas.Per_Nom)
                                                        @Html.DisplayFor(modelItem => item.contratos.personas.Per_ApePat)
                                                    </td>
                                           
                                             
                                                    <td align="center">
                                                        <a class="btn btn-danger sectoreliminar" id="" name="" href="#" data-toggle="modal" data-target="#Misectoreliminar"><i class="fas fa-trash-alt"></i></a>
                                                    </td>
                                               
                                              
                                                </tr>
                                            }


                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>

    </div>





    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#contenido_vista').appendTo('#contenido_general');
        });

    </script>

