@model IEnumerable<Proyecto_RadixWeb.Models.empresas>

@{
    ViewBag.Title = "Index empresa";
}

@*<link href="~/PaginaDashB/tablas/css/tablas.css" rel="stylesheet" />*@
<div id="contenido_vista" style="margin-top: 10%;margin-left:20%;margin-right:2%">
    <div class="card mb-3 mt-2" style="border: 1px solid;">
        <div class="card-header">
            <div class="col col-xs-1 col-md-1 col-lg-1">
                <i class="fas fa-table"></i>
            </div>
            <div class="col col-xs-8 col-md-8 col-lg-8">
                <h5 class="panel-title" style="text-align:center"><b>Empresas</b> </h5>
            </div>
            <div class="col col-xs-3 col-md-3 col-lg-3 text-right">
                <button type="button" class="btn btn-danger btn-sm m-0 documento" href="#" data-toggle="modal" data-target="#NewPersona">  Nuevo Trabajador</button>
                <div class="panel-body" style="text-align:right"> @Html.ActionLink("Nueva Empresa", "Create") </div>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-hover table-bordered table-condensed">

                    <tr style="background-color:#d7d6d6">

                        <th>
                            Empresa
                        </th>
                    
                        <th>
                            Estado
                        </th>
                        <th>
                            Direccion
                        </th>
                        <th>
                            Plan
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Emp_Nom)
                            </td>
                         
                            <td>
                                @Html.DisplayFor(modelItem => item.Emp_Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Emp_Dir)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PlanesEmpresas.plan_nom)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Emp_Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Emp_Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Emp_Id })
                            </td>

                        </tr>
                    }

                </table>
            </div>

        </div>
    </div>

</div>
</div>
