@model Proyecto_RadixWeb.Models.MultiplesClases

@{
    ViewBag.Title = "Index EmpresasCargos";
}

<div id="contenido_vista" @*style="margin-top: 10%;margin-left:10%"*@>
    <article class="content responsive-tables-page">
        <div class="title-block">
            <div class="">
            </div>
            <div class="col col-xs-12 col-md-9 col-lg-9">
                <h1 class="title" style="text-align:center"><i class="fas fa-user-tag"></i> Cargos Generales de la empresa @ViewBag.emrpesa </h1>
            </div>
            <div class="col col-xs-3 col-md-3 col-lg-3 text-right">
           
                <a class="btn btn-primary text-whiter" href="#" data-toggle="modal" data-target="#cargo"><i class="fas fa-user-plus"></i>  Agregar Cargo </a>
            </div>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title-block">

                            </div>
                            <section class="example">
                                <div class="table-flip-scroll">
                                    <table class="table table-striped table-bordered table-hover flip-content">
                                        <thead class=" thead-inverse">
                                            <tr>
                                                <th>
                                                    Cargo
                                                </th>
                                                <th>
                                                    Empresa
                                                </th>
                                                <th>
                                                    Plantilla Contrato
                                                </th>
                                                <th>
                                                    Descargar
                                                </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                @foreach (var item in Model.ObjEEmpresa_Cargo)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.cargos.Car_Nom)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.empresas.Emp_Nom)
                                                    </td>

                                                    @if (item.PC_Id != null)
                                                    {

                                                        <td>
                                                            <a class="btn btn-success" href="@Url.Action("ViewPdf", "Empresa_Cargo", new { id = item.PC_Id })" target="_blank">Ver PDF</a>
                                                        </td>
                                                        <td>

                                                            <a class="btn btn-success" href="@Url.Action("DescargarDocx","Planillascontratos",new { id= item.PC_Id})">Descargar Word</a>
                                                        </td>
                                                    }
                                                    else
                                                    {

                                                        <td>
                                                            <a class="btn btn-success plantilla" id="@item.Empcar_id" href="#" data-toggle="modal" data-target="#MiPlantilla">Agregar Plantilla</a>
                                                        </td>
                                                    }
                                                    <td align="center">

                                                        <a class="btn btn-outline-secondary" data-toggle="modal" data-target="#modaleditar"><i class="fas fa-edit"></i></a>
                                                    </td>
                                                    <td align="center">
                                                        <a class="btn btn-danger" data-toggle="modal" data-target="#modaleliminar"><i class="fas fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            }

                                
                                        </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>



    </div>


<!-- Modal -->
<div class="modal fade" id="MiPlantilla" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Index", "Empresa_Cargo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nueva Plantilla</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Contenido del centro-->
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    @Html.Hidden("empcar_id")

                    <div class="form-group">
                        @Html.LabelFor(model => model.ObjPlantillascontratos.PC_Nom)
                        @Html.Editor("PC_Nom", new { htmlAttributes = new { @class = "form-control" } })
                        @*@Html.Editor("PC_Nom", new { htmlAttributes = new { @class = "form-control" } })*@


                    </div>

                    <div class="input-group">
                        Estado
                        <div class="col-md-10">
                            <input type="file" name="plantilla" />
                        </div>
                    </div>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="cargo" tabindex="-1" role="dialog" aria-labelledby="cargo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Create", "Empresa_Cargo", new { subemp_id = ViewBag.subemp_id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo Cargo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Contenido del centro-->
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Cargo")
                        @Html.Editor("car_nom", new { htmlAttributes = new { @class = "form-control" } })
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>

<!--editar-->
<!-- Modal -->
<div class="modal fade" id="modaleditar" tabindex="-1" role="dialog" aria-labelledby="modaleditar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--eliminar--><!-- Modal -->
<div class="modal fade" id="modaleliminar" tabindex="-1" role="dialog" aria-labelledby="modaleliminar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $('#contenido_vista').appendTo('#contenido_general');
    });

</script>


<script>

    $(".plantilla").on("click", function () {

        $("#empcar_id").val($(this).attr("id"));

    });

</script>

