@model Proyecto_RadixWeb.Models.MultiplesClases

@{
    ViewBag.Title = "Index grupos";
}




<div id="contenido_vista" @*style="margin-top: 10%;margin-left:10%"*@>
    <article class="content responsive-tables-page">
        <div class="title-block">
            <div class="">
            </div>
            <div class="col col-xs-12 col-md-9 col-lg-9">
                <h1 class="title" style="text-align:center"><i class="fas fa-user-friends"></i>  Grupos de trabjadores de la empresa @ViewBag.empresa </h1>
            </div>
            <div class="col col-xs-3 col-md-3 col-lg-3 text-right">
                <a class="btn btn-primary text-white" data-toggle="modal" data-target="#MiModal"><i class="fas fa-user-plus"></i> Crear Grupo </a>

            </div>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title-block">

                            </div>
                            <section class="example">
                                <div class="table-flip-scroll">
                                    <table class="table table-striped table-bordered table-hover flip-content">
                                        <thead class=" thead-inverse">
                                            <tr>
                                                <th>
                                                    Responsable
                                                </th>
                                                <th>
                                                    Agricola Asiganado
                                                </th>
                                                <th>
                                                    Cuadrilla
                                                </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                @foreach (var item in Model.ObjEGruposCuarteles)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.contratos.personas.Per_Nom)
                                                        @Html.DisplayFor(modelItem => item.contratos.personas.Per_ApePat)

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.contratos1.personas.Per_Nom)
                                                        @Html.DisplayFor(modelItem => item.contratos1.personas.Per_ApePat)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Cuarteles.cuar_nom)
                                                    </td>
                                                    <td align="center">

                                                        <a class="btn btn-outline-secondary" data-toggle="modal" data-target="#modaleditar"><i class="fas fa-edit"></i></a>
                                                    </td>
                                                    <td align="center">
                                                        <a class="btn btn-danger" data-toggle="modal" data-target="#modaleliminar"><i class="fas fa-trash-alt"></i></a>
                                                    </td>
                                                    @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.gc_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.gc_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.gc_id })
                </td>*@
                                                </tr>
                                            }


                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>



    </div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $('#contenido_vista').appendTo('#contenido_general');
    });

</script>

