@model Proyecto_RadixWeb.Models.MultiplesClases


@{
    ViewBag.Title = "Index PrivilegiosCuentas";
}
@*<link href="~/PaginaDashB/tablas/css/tablas.css" rel="stylesheet" />*@
<div id="contenido_vista" style="margin-top: 10%;margin-left:10%">
    <div class="card mb-3 mt-2" style="border: 1px solid;">
        <div class="card-header">
            <div class="col col-xs-1 col-md-1 col-lg-1">
                <i class="fas fa-table"></i>
            </div>
            <div class="col col-xs-8 col-md-8 col-lg-8">
                <h5 class="panel-title" style="text-align:center"><b>Privilegios</b> </h5>
            </div>
            <div class="col col-xs-3 col-md-3 col-lg-3 text-right">
                <a class="btn btn-success ml-3" href="#" data-toggle="modal" data-target="#MiModal">Nuevo Privilegio</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-hover table-bordered table-condensed">
                    <tr style="background-color:#d7d6d6">
                        <th>
                            Nombre
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.ObjEPrivilegiosCuentas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.pc_nom)
                            </td>
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.pc_id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.pc_id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.pc_id })
                                </td>*@
                            <td align="center">

                                <a class="btn btn-outline-secondary" data-toggle="modal" data-target="#modaleditar"><i class="fas fa-edit"></i></a>
                            </td>
                            <td align="center">
                                <a class="btn btn-danger" data-toggle="modal" data-target="#modaleliminar"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>

    </div>
</div>

<!-- Create -->
<div class="modal fade" id="MiModal" tabindex="-1" role="dialog" aria-labelledby="MiModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Create", "PrivilegiosCuentas", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo Sector</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Contenido del centro-->
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Privilegio")
                        @Html.EditorFor(model => model.ObjPrivilegiosCuentas.pc_nom, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>
<!--Eliminar-->
<div class="modal fade" id="modaleliminar" tabindex="-1" role="dialog" aria-labelledby="modaleliminar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Delete", "PrivilegiosCuentas", new { id = ViewBag   .pc_id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo Sector</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Contenido del centro-->
                <div class="modal-body">
                    @Html.LabelFor(model => model.ObjPrivilegiosCuentas.pc_nom)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        $('#contenido_vista').appendTo('#contenido_general');
    });

</script>

