
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/css/dashboard/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/css/dashboard/font-awesome.min.css" rel="stylesheet" />
    <!-- Page level plugin CSS-->
    <link href="~/Content/css/dashboard/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/css/dashboard/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/arrastrar.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href=""> <h4>Empresa @ViewBag.empresa </h4></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Index", "subempresas")">
                        <i class="fa fa-fw fa-indent"></i>
                        <!-- SUCURSALES -->

                        <span class="nav-link-text">Todas Mis sucursales</span>
                    </a>
                    <ul id="listaSucursal"></ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#lista" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-sitemap"></i>
                        <!-- SUCURSALES -->
                        <span class="nav-link-text">
                            Sucursales
                            @*<span class="badge badge-pill badge-warning">Sin Sucursales</span>*@
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="lista"></ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#trabajadores" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-group"></i>
                        <span class="nav-link-text" >
                            <!-- TRABAJADORES -->
                            Trabajadores
                            @*<span class="badge badge-pill badge-warning">0 Trabajador</span>*@
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="trabajadores">
                        <li>
                            <a href="#">Asistencia</a>
                        </li>
                        <li>
                            <a href="@Url.Action("verTodos", "contratos")">Todos Mis trabajadores</a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#car" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-table"></i>
                        <!-- CARGOS -->

                        <span class="nav-link-text">
                            Cargos
                            @*<span class="badge badge-pill badge-warning">Sin Inventario</span>*@
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="car">
                        <li>
                            <a href="@Url.Action("Index", "Empresa_Cargo")">Cargos Generales</a>
                        </li>
                        <li>
                            <a href="@Url.Action("VerSuc", "subempresas")">Horarios</a>
                        </li>

                    </ul>
                </li>
                        @*<li>
                    <a href="@Url.Action("Index", "Empresa_Cargo")">Cargos</a>
                </li>*@
                        @*<li>|
                    <a href="@Url.Action("Horario", "Horario_laboral")">Horarios</a>
                </li>*@
                   
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#doc" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-file"></i>
                        <!-- DOCUMENTOS -->

                        <span class="nav-link-text">
                    Documentos
                            @*<span class="badge badge-pill badge-warning">Sin Inventario</span>*@
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="doc">
                        <li>
                            <a href="@Url.Action("Index", "Planillascontratos")">Contratos</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Planillascontratos")">Planillas</a>
                        </li>
                    
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-list"></i>
                        <!-- INVENTARIO -->

                        <span class="nav-link-text">
                            Inventario
                            @*<span class="badge badge-pill badge-warning">Sin Inventario</span>*@
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                        <li>
                            <a href="login.html">Login Page</a>
                        </li>
                        <li>
                            <a href="register.html">Registration Page</a>
                        </li>
                        <li>
                            <a href="forgot-password.html">Forgot Password Page</a>
                        </li>
                        <li>
                            <a href="blank.html">Blank Page</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <!-- ESTADISTICAS -->

                        <span class="nav-link-text">
                            Estadisticas
                            @*<span class="badge badge-pill badge-warning">Sin Estadisticas</span>*@
                        </span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
                            <ul class="sidenav-third-level collapse" id="collapseMulti2">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-link"></i>
                        <span class="nav-link-text">Link</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">New Messages:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>David Miller</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>Jane Smith</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>John Doe</strong>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">View all messages</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">
                            Alerts
                            <span class="badge badge-pill badge-warning">6 New</span>
                        </span>
                        <span class="indicator text-danger d-none d-lg-block">
                            <i class="fa fa-fw fa-info"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">New Alerts:</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-danger">
                                <strong>
                                    <i class="fa fa-long-arrow-down fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <span class="small float-right text-muted">11:21 AM</span>
                            <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="#">View all alerts</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    @*<a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-fw fa-sign-out"></i>Logout
                        </a>*@
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="javascript:document.getElementById('logoutForm').submit()">

                            <i class="fa fa-fw fa-sign-out"></i>Cerrar Sesión
                        </a>
                    }
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Data Table Example
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <script>
                            //function allowDrop(ev) {
                            //    ev.preventDefault();
                            //}

                            //function drag(ev) {
                            //    ev.dataTransfer.setData("text", ev.target.id);
                            //}

                            //function drop(ev) {
                            //    ev.preventDefault();
                            //    var data = ev.dataTransfer.getData("text");
                            //    ev.target.appendChild(document.getElementById(data));
                            //    testing();
                            //}

                            //function testing() {
                            //    var correcto = 1;
                            //    var pokes = document.getElementsByClassName("pokemon");
                            //    for (var i = 0; i < pokes.length; i++) {
                            //        if (pokes[i].getAttribute("name") != pokes[i].parentNode.getAttribute("id")) {
                            //            correcto = correcto * 0;
                            //            break;
                            //        }
                            //    }
                            //    if (correcto == 1) {
                            //        document.getElementById("resultado").innerHTML = "CORRECTO";
                            //    } else {
                            //        document.getElementById("resultado").innerHTML = "INCOMPLETO";
                            //    }

                            //}
                            //----------------------------------

                            //function allowDrop(ev) {
                            //    ev.preventDefault();
                            //}

                            //function drag(ev) {
                            //    ev.dataTransfer.setData("text", ev.target.id);
                            //}

                            //function drop(ev) {
                            //    ev.preventDefault();
                            //    var data = ev.dataTransfer.getData("text");
                            //    ev.target.appendChild(document.getElementById(data));
                            //}
                            //-------------------------------------

                            //+ function ($) {
                            //    'use strict';

                            //    // UPLOAD CLASS DEFINITION
                            //    // ======================

                            //    var dropZone = document.getElementById('drop-zone');
                            //    var uploadForm = document.getElementById('js-upload-form');

                            //    var startUpload = function (files) {
                            //        console.log(files)
                            //    }

                            //    uploadForm.addEventListener('submit', function (e) {
                            //        var uploadFiles = document.getElementById('js-upload-files').files;
                            //        e.preventDefault()

                            //        startUpload(uploadFiles)
                            //    })

                            //    dropZone.ondrop = function (e) {
                            //        e.preventDefault();
                            //        this.className = 'upload-drop-zone';

                            //        startUpload(e.dataTransfer.files)
                            //    }

                            //    dropZone.ondragover = function () {
                            //        this.className = 'upload-drop-zone drop';
                            //        return false;
                            //    }

                            //    dropZone.ondragleave = function () {
                            //        this.className = 'upload-drop-zone';
                            //        return false;
                            //    }

                            //}(jQuery);
                        </script>


                        @*<section id="container" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="padre">
                <div class="tipo" id="fuego" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                <div class="tipo" id="agua" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            </div>
            <img class="pokemon" src="http://i65.tinypic.com/j0itlk.png" draggable="true" ondragstart="drag(event)" id="drag1" name="fuego" />
            <img class="pokemon" src="http://i65.tinypic.com/214vxts.png" draggable="true" ondragstart="drag(event)" id="drag2" name="agua" />
            <img class="pokemon" src="http://i66.tinypic.com/ckf41.jpg" draggable="true" ondragstart="drag(event)" id="drag3" name="fuego" />
            <img class="pokemon" src="http://i66.tinypic.com/2nq5pp3.png" draggable="true" ondragstart="drag(event)" id="drag4" name="agua" />
        </section>
        <div id="resultado">...</div>*@

                        @*<div>
            <h2>Drag and Drop</h2>
            <p>Drag the image back and forth between the two div elements.</p>

            <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                <img src="img_w3slogo.gif" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31">
            </div>

            <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        </div>*@


                        @*<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Upload Files</strong> <small>Bootstrap files upload</small></div>
                <div class="panel-body">
                    <!-- Standar Form -->
                    <h4>Select files from your computer</h4>
                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                        <div class="form-inline">
                            <div class="form-group">
                                <input type="file" name="files[]" id="js-upload-files" multiple>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                        </div>
                    </form>
                    <!-- Drop Zone -->
                    <h4>Or drag and drop files below</h4>
                    <div class="upload-drop-zone" id="drop-zone">
                        Just drag and drop files here
                    </div>
                    <!-- Progress Bar -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <!-- Upload Finished -->
                    <div class="js-upload-finished">
                        <h3>Processed files</h3>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
                            <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                        @*<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOTY2OWFjMTMtZWU3Zi00OTIwLTgyNWYtNWQ0ODVkNzhkOTcyIiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>*@
                        <h1>rrastrar y soltar</h1>
                        <br />
                        @*<div class="jquery-script-ads">
                                    <script type="text/javascript">
        <!--
                                        google_ad_client = "ca-pub-2783044520727903";
                                        /* jQuery_demo */
                                        google_ad_slot = "2780937993";
                                        google_ad_width = 728;
                                        google_ad_height = 90;
                                        //-->
                                    </script>
                                    <script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js">
                                    </script>
                                </div>*@
                        <br />
                        <br />
                        <br />
                       
                    </div>
                     




                    </div>
                </div>

                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fa fa-angle-up"></i>
            </a>
            <!-- Logout Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Quieres cerrar tu sesión?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Estas seguro de cerrar tu sesión?.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Si.Cerrar Sesión</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- File Modal-->

           


















        </div>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2018</small>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript-->

        <script src="~/Scripts/dashboard/sb-admin-charts.min.js"></script>
        <script src="~/Scripts/dashboard/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Scripts/dashboard/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Scripts/dashboard/Chart.min.js"></script>
        <script src="~/Scripts/dashboard/jquery.dataTables.js"></script>
        <script src="~/Scripts/dashboard/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Scripts/dashboard/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Scripts/dashboard/sb-admin-datatables.min.js"></script>
        <script src="~/Scripts/dashboard/sb-admin-charts.min.js"></script>

   
                <script src="~/Scripts/jquery-3.3.1.js"></script>

                <script>

            $(document).ready(function () {

                Cargar();


        });

            function Cargar() {

                $.ajax({
                    url: '@Url.Action("ObtenerSubEmpresa","Home")',
                    dataType: 'json',
                    data: {},
                    success: function (data) {
                        var $lista;
                        $.each(data, function (i, item) {


                            var row = '<li><a id="link' + item.SubEmp+' "  href="@Url.Action("Index", "Contratos",new { subemp_id = "SubEmp" })"> ' + item.Nombre + '</a> </li>';
                            //var row = '<li><a class="li_subemp" id="' + item.SubEmp + '" href="#">' + item.Nombre + '</a></li>';
                            row = row.replace("SubEmp", item.SubEmp);

                            $('#lista').append(row);

                        });

                    }
                });

       }

                </script>}
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("Scripts", required: false)
</body>
</html>